<style type="text/css">
  .c-btn {
    margin-bottom: 4px;
  }
</style>
<div class="c-fade-in">
  <div class="c-row">
    <div class="c-col-12">
      <div class="c-card">
        <div class="c-card-header"><strong>Brand Buttons</strong></div>
        <div class="c-card-body">
          <h6>Size Small<small>Add this class<code>.c-btn-sm</code></small></h6>
          <p>
            <button class="c-btn c-btn-sm c-btn-facebook" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/facebook-f.svg" alt="facebook" /><span>Facebook</span></button>
            <button class="c-btn c-btn-sm c-btn-twitter" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/twitter.svg" alt="twitter" /><span>Twitter</span></button>
            <button class="c-btn c-btn-sm c-btn-linkedin" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/linkedin.svg" alt="linkedin" /><span>LinkedIn</span></button>
            <button class="c-btn c-btn-sm c-btn-flickr" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/flickr.svg" alt="flickr" /><span>Flickr</span></button>
            <button class="c-btn c-btn-sm c-btn-tumblr" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/tumblr.svg" alt="tumblr" /><span>Tumblr</span></button>
            <button class="c-btn c-btn-sm c-btn-xing" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/xing.svg" alt="xing" /><span>Xing</span></button>
            <button class="c-btn c-btn-sm c-btn-github" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/github.svg" alt="github" /><span>Github</span></button>
            <button class="c-btn c-btn-sm c-btn-stack-overflow" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/stack-overflow.svg" alt="stack-overflow" /><span>StackOverflow</span></button>
            <button class="c-btn c-btn-sm c-btn-youtube" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/youtube.svg" alt="youtube" /><span>YouTube</span></button>
            <button class="c-btn c-btn-sm c-btn-dribbble" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/dribbble.svg" alt="dribbble" /><span>Dribbble</span></button>
            <button class="c-btn c-btn-sm c-btn-instagram" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/instagram.svg" alt="instagram" /><span>Instagram</span></button>
            <button class="c-btn c-btn-sm c-btn-pinterest" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/pinterest.svg" alt="pinterest" /><span>Pinterest</span></button>
            <button class="c-btn c-btn-sm c-btn-vk" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/vk.svg" alt="vk" /><span>VK</span></button>
            <button class="c-btn c-btn-sm c-btn-yahoo" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/yahoo.svg" alt="yahoo" /><span>Yahoo</span></button>
            <button class="c-btn c-btn-sm c-btn-behance" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/behance.svg" alt="behance" /><span>Behance</span></button>
            <button class="c-btn c-btn-sm c-btn-reddit" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/reddit.svg" alt="reddit" /><span>Reddit</span></button>
            <button class="c-btn c-btn-sm c-btn-vimeo" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/vimeo.svg" alt="vimeo" /><span>Vimeo</span></button>
          </p>
          <h6>Size Normal</h6>
          <p>
            <button class="c-btn c-btn-facebook" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/facebook-f.svg" alt="facebook" /><span>Facebook</span></button>
            <button class="c-btn c-btn-twitter" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/twitter.svg" alt="twitter" /><span>Twitter</span></button>
            <button class="c-btn c-btn-linkedin" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/linkedin.svg" alt="linkedin" /><span>LinkedIn</span></button>
            <button class="c-btn c-btn-flickr" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/flickr.svg" alt="flickr" /><span>Flickr</span></button>
            <button class="c-btn c-btn-tumblr" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/tumblr.svg" alt="tumblr" /><span>Tumblr</span></button>
            <button class="c-btn c-btn-xing" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/xing.svg" alt="xing" /><span>Xing</span></button>
            <button class="c-btn c-btn-github" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/github.svg" alt="github" /><span>Github</span></button>
            <button class="c-btn c-btn-stack-overflow" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/stack-overflow.svg" alt="stack-overflow" /><span>StackOverflow</span></button>
            <button class="c-btn c-btn-youtube" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/youtube.svg" alt="youtube" /><span>YouTube</span></button>
            <button class="c-btn c-btn-dribbble" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/dribbble.svg" alt="dribbble" /><span>Dribbble</span></button>
            <button class="c-btn c-btn-instagram" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/instagram.svg" alt="instagram" /><span>Instagram</span></button>
            <button class="c-btn c-btn-pinterest" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/pinterest.svg" alt="pinterest" /><span>Pinterest</span></button>
            <button class="c-btn c-btn-vk" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/vk.svg" alt="vk" /><span>VK</span></button>
            <button class="c-btn c-btn-yahoo" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/yahoo.svg" alt="yahoo" /><span>Yahoo</span></button>
            <button class="c-btn c-btn-behance" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/behance.svg" alt="behance" /><span>Behance</span></button>
            <button class="c-btn c-btn-reddit" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/reddit.svg" alt="reddit" /><span>Reddit</span></button>
            <button class="c-btn c-btn-vimeo" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/vimeo.svg" alt="vimeo" /><span>Vimeo</span></button>
          </p>
          <h6>Size Large<small>Add this class<code>.c-btn-lg</code></small></h6>
          <p>
            <button class="c-btn c-btn-lg c-btn-facebook" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/facebook-f.svg" alt="facebook" /><span>Facebook</span></button>
            <button class="c-btn c-btn-lg c-btn-twitter" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/twitter.svg" alt="twitter" /><span>Twitter</span></button>
            <button class="c-btn c-btn-lg c-btn-linkedin" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/linkedin.svg" alt="linkedin" /><span>LinkedIn</span></button>
            <button class="c-btn c-btn-lg c-btn-flickr" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/flickr.svg" alt="flickr" /><span>Flickr</span></button>
            <button class="c-btn c-btn-lg c-btn-tumblr" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/tumblr.svg" alt="tumblr" /><span>Tumblr</span></button>
            <button class="c-btn c-btn-lg c-btn-xing" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/xing.svg" alt="xing" /><span>Xing</span></button>
            <button class="c-btn c-btn-lg c-btn-github" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/github.svg" alt="github" /><span>Github</span></button>
            <button class="c-btn c-btn-lg c-btn-stack-overflow" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/stack-overflow.svg" alt="stack-overflow" /><span>StackOverflow</span></button>
            <button class="c-btn c-btn-lg c-btn-youtube" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/youtube.svg" alt="youtube" /><span>YouTube</span></button>
            <button class="c-btn c-btn-lg c-btn-dribbble" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/dribbble.svg" alt="dribbble" /><span>Dribbble</span></button>
            <button class="c-btn c-btn-lg c-btn-instagram" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/instagram.svg" alt="instagram" /><span>Instagram</span></button>
            <button class="c-btn c-btn-lg c-btn-pinterest" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/pinterest.svg" alt="pinterest" /><span>Pinterest</span></button>
            <button class="c-btn c-btn-lg c-btn-vk" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/vk.svg" alt="vk" /><span>VK</span></button>
            <button class="c-btn c-btn-lg c-btn-yahoo" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/yahoo.svg" alt="yahoo" /><span>Yahoo</span></button>
            <button class="c-btn c-btn-lg c-btn-behance" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/behance.svg" alt="behance" /><span>Behance</span></button>
            <button class="c-btn c-btn-lg c-btn-reddit" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/reddit.svg" alt="reddit" /><span>Reddit</span></button>
            <button class="c-btn c-btn-lg c-btn-vimeo" type="button"><img class="c-btn-icon c-mr-2" src="assets/icons/brands/vimeo.svg" alt="vimeo" /><span>Vimeo</span></button>
          </p>
        </div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-12">
      <div class="c-card">
        <div class="c-card-header"><strong>Brand Buttons</strong><small>&nbsp;Only icons</small></div>
        <div class="c-card-body">
          <h6>Size Small<small>Add this class<code>.c-btn-sm</code></small></h6>
          <p>
            <button class="c-btn c-btn-sm c-btn-facebook" type="button"><img class="c-btn-icon" src="assets/icons/brands/facebook-f.svg" alt="facebook" /></button>
            <button class="c-btn c-btn-sm c-btn-twitter" type="button"><img class="c-btn-icon" src="assets/icons/brands/twitter.svg" alt="twitter" /></button>
            <button class="c-btn c-btn-sm c-btn-linkedin" type="button"><img class="c-btn-icon" src="assets/icons/brands/linkedin.svg" alt="linkedin" /></button>
            <button class="c-btn c-btn-sm c-btn-flickr" type="button"><img class="c-btn-icon" src="assets/icons/brands/flickr.svg" alt="flickr" /></button>
            <button class="c-btn c-btn-sm c-btn-tumblr" type="button"><img class="c-btn-icon" src="assets/icons/brands/tumblr.svg" alt="tumblr" /></button>
            <button class="c-btn c-btn-sm c-btn-xing" type="button"><img class="c-btn-icon" src="assets/icons/brands/xing.svg" alt="xing" /></button>
            <button class="c-btn c-btn-sm c-btn-github" type="button"><img class="c-btn-icon" src="assets/icons/brands/github.svg" alt="github" /></button>
            <button class="c-btn c-btn-sm c-btn-stack-overflow" type="button"><img class="c-btn-icon" src="assets/icons/brands/stack-overflow.svg" alt="stack-overflow" /></button>
            <button class="c-btn c-btn-sm c-btn-youtube" type="button"><img class="c-btn-icon" src="assets/icons/brands/youtube.svg" alt="youtube" /></button>
            <button class="c-btn c-btn-sm c-btn-dribbble" type="button"><img class="c-btn-icon" src="assets/icons/brands/dribbble.svg" alt="dribbble" /></button>
            <button class="c-btn c-btn-sm c-btn-instagram" type="button"><img class="c-btn-icon" src="assets/icons/brands/instagram.svg" alt="instagram" /></button>
            <button class="c-btn c-btn-sm c-btn-pinterest" type="button"><img class="c-btn-icon" src="assets/icons/brands/pinterest.svg" alt="pinterest" /></button>
            <button class="c-btn c-btn-sm c-btn-vk" type="button"><img class="c-btn-icon" src="assets/icons/brands/vk.svg" alt="vk" /></button>
            <button class="c-btn c-btn-sm c-btn-yahoo" type="button"><img class="c-btn-icon" src="assets/icons/brands/yahoo.svg" alt="yahoo" /></button>
            <button class="c-btn c-btn-sm c-btn-behance" type="button"><img class="c-btn-icon" src="assets/icons/brands/behance.svg" alt="behance" /></button>
            <button class="c-btn c-btn-sm c-btn-reddit" type="button"><img class="c-btn-icon" src="assets/icons/brands/reddit.svg" alt="reddit" /></button>
            <button class="c-btn c-btn-sm c-btn-vimeo" type="button"><img class="c-btn-icon" src="assets/icons/brands/vimeo.svg" alt="vimeo" /></button>
          </p>
          <h6>Size Normal</h6>
          <p>
            <button class="c-btn c-btn-facebook" type="button"><img class="c-btn-icon" src="assets/icons/brands/facebook-f.svg" alt="facebook" /></button>
            <button class="c-btn c-btn-twitter" type="button"><img class="c-btn-icon" src="assets/icons/brands/twitter.svg" alt="twitter" /></button>
            <button class="c-btn c-btn-linkedin" type="button"><img class="c-btn-icon" src="assets/icons/brands/linkedin.svg" alt="linkedin" /></button>
            <button class="c-btn c-btn-flickr" type="button"><img class="c-btn-icon" src="assets/icons/brands/flickr.svg" alt="flickr" /></button>
            <button class="c-btn c-btn-tumblr" type="button"><img class="c-btn-icon" src="assets/icons/brands/tumblr.svg" alt="tumblr" /></button>
            <button class="c-btn c-btn-xing" type="button"><img class="c-btn-icon" src="assets/icons/brands/xing.svg" alt="xing" /></button>
            <button class="c-btn c-btn-github" type="button"><img class="c-btn-icon" src="assets/icons/brands/github.svg" alt="github" /></button>
            <button class="c-btn c-btn-stack-overflow" type="button"><img class="c-btn-icon" src="assets/icons/brands/stack-overflow.svg" alt="stack-overflow" /></button>
            <button class="c-btn c-btn-youtube" type="button"><img class="c-btn-icon" src="assets/icons/brands/youtube.svg" alt="youtube" /></button>
            <button class="c-btn c-btn-dribbble" type="button"><img class="c-btn-icon" src="assets/icons/brands/dribbble.svg" alt="dribbble" /></button>
            <button class="c-btn c-btn-instagram" type="button"><img class="c-btn-icon" src="assets/icons/brands/instagram.svg" alt="instagram" /></button>
            <button class="c-btn c-btn-pinterest" type="button"><img class="c-btn-icon" src="assets/icons/brands/pinterest.svg" alt="pinterest" /></button>
            <button class="c-btn c-btn-vk" type="button"><img class="c-btn-icon" src="assets/icons/brands/vk.svg" alt="vk" /></button>
            <button class="c-btn c-btn-yahoo" type="button"><img class="c-btn-icon" src="assets/icons/brands/yahoo.svg" alt="yahoo" /></button>
            <button class="c-btn c-btn-behance" type="button"><img class="c-btn-icon" src="assets/icons/brands/behance.svg" alt="behance" /></button>
            <button class="c-btn c-btn-reddit" type="button"><img class="c-btn-icon" src="assets/icons/brands/reddit.svg" alt="reddit" /></button>
            <button class="c-btn c-btn-vimeo" type="button"><img class="c-btn-icon" src="assets/icons/brands/vimeo.svg" alt="vimeo" /></button>
          </p>
          <h6>Size Large<small>Add this class<code>.c-btn-lg</code></small></h6>
          <p>
            <button class="c-btn c-btn-lg c-btn-facebook" type="button"><img class="c-btn-icon" src="assets/icons/brands/facebook-f.svg" alt="facebook" /></button>
            <button class="c-btn c-btn-lg c-btn-twitter" type="button"><img class="c-btn-icon" src="assets/icons/brands/twitter.svg" alt="twitter" /></button>
            <button class="c-btn c-btn-lg c-btn-linkedin" type="button"><img class="c-btn-icon" src="assets/icons/brands/linkedin.svg" alt="linkedin" /></button>
            <button class="c-btn c-btn-lg c-btn-flickr" type="button"><img class="c-btn-icon" src="assets/icons/brands/flickr.svg" alt="flickr" /></button>
            <button class="c-btn c-btn-lg c-btn-tumblr" type="button"><img class="c-btn-icon" src="assets/icons/brands/tumblr.svg" alt="tumblr" /></button>
            <button class="c-btn c-btn-lg c-btn-xing" type="button"><img class="c-btn-icon" src="assets/icons/brands/xing.svg" alt="xing" /></button>
            <button class="c-btn c-btn-lg c-btn-github" type="button"><img class="c-btn-icon" src="assets/icons/brands/github.svg" alt="github" /></button>
            <button class="c-btn c-btn-lg c-btn-stack-overflow" type="button"><img class="c-btn-icon" src="assets/icons/brands/stack-overflow.svg" alt="stack-overflow" /></button>
            <button class="c-btn c-btn-lg c-btn-youtube" type="button"><img class="c-btn-icon" src="assets/icons/brands/youtube.svg" alt="youtube" /></button>
            <button class="c-btn c-btn-lg c-btn-dribbble" type="button"><img class="c-btn-icon" src="assets/icons/brands/dribbble.svg" alt="dribbble" /></button>
            <button class="c-btn c-btn-lg c-btn-instagram" type="button"><img class="c-btn-icon" src="assets/icons/brands/instagram.svg" alt="instagram" /></button>
            <button class="c-btn c-btn-lg c-btn-pinterest" type="button"><img class="c-btn-icon" src="assets/icons/brands/pinterest.svg" alt="pinterest" /></button>
            <button class="c-btn c-btn-lg c-btn-vk" type="button"><img class="c-btn-icon" src="assets/icons/brands/vk.svg" alt="vk" /></button>
            <button class="c-btn c-btn-lg c-btn-yahoo" type="button"><img class="c-btn-icon" src="assets/icons/brands/yahoo.svg" alt="yahoo" /></button>
            <button class="c-btn c-btn-lg c-btn-behance" type="button"><img class="c-btn-icon" src="assets/icons/brands/behance.svg" alt="behance" /></button>
            <button class="c-btn c-btn-lg c-btn-reddit" type="button"><img class="c-btn-icon" src="assets/icons/brands/reddit.svg" alt="reddit" /></button>
            <button class="c-btn c-btn-lg c-btn-vimeo" type="button"><img class="c-btn-icon" src="assets/icons/brands/vimeo.svg" alt="vimeo" /></button>
          </p>
        </div>
      </div>
    </div>
    <!-- /.c-col-->
  </div>
  <!-- /.c-row-->
</div>