<div class="c-fade-in">
  <div class="c-row">
    <div class="c-col">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Dropdowns
          <div class="c-card-header-actions"><a class="c-card-header-action" href="http://coreui.io/docs/components/bootstrap-dropdowns/" target="_blank"><small class="c-text-muted">docs</small></a></div>
        </div>
        <div class="c-card-body">
          <div class="c-row">
            <div class="c-col">
              <div class="c-btn-group">
                <div class="c-dropdown">
                  <button class="c-btn c-btn-secondary c-dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Dropdown button</button>
                  <div class="c-dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a></div>
                </div>
              </div>
              <div class="c-btn-group">
                <div class="c-dropdown c-show"><a class="c-btn c-btn-secondary c-dropdown-toggle" id="dropdownMenuLink" href="#" role="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Dropdown link</a>
                  <div class="c-dropdown-menu" aria-labelledby="dropdownMenuLink"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a></div>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="c-btn-group">
            <button class="c-btn c-btn-primary c-dropdown-toggle" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Primary</button>
            <div class="c-dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
              <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <!-- /btn-group-->
          <div class="c-btn-group">
            <button class="c-btn c-btn-secondary c-dropdown-toggle" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Secondary</button>
            <div class="c-dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
              <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <!-- /btn-group-->
          <div class="c-btn-group">
            <button class="c-btn c-btn-success c-dropdown-toggle" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Success</button>
            <div class="c-dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
              <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <!-- /btn-group-->
          <div class="c-btn-group">
            <button class="c-btn c-btn-info c-dropdown-toggle" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Info</button>
            <div class="c-dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
              <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <!-- /btn-group-->
          <div class="c-btn-group">
            <button class="c-btn c-btn-warning c-dropdown-toggle" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Warning</button>
            <div class="c-dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
              <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <!-- /btn-group-->
          <div class="c-btn-group">
            <button class="c-btn c-btn-danger c-dropdown-toggle" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Danger</button>
            <div class="c-dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
              <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <!-- /btn-group-->
          <hr />
          <div class="c-btn-group">
            <button class="c-btn c-btn-primary" type="button">Primary</button>
            <button class="c-btn c-btn-primary c-dropdown-toggle c-dropdown-toggle-split" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
            <div class="c-dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(71px, 34px, 0px); top: 0px; left: 0px; will-change: transform;"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
              <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <!-- /btn-group-->
          <div class="c-btn-group">
            <button class="c-btn c-btn-secondary" type="button">Secondary</button>
            <button class="c-btn c-btn-secondary c-dropdown-toggle c-dropdown-toggle-split" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
            <div class="c-dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(89px, 34px, 0px); top: 0px; left: 0px; will-change: transform;"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
              <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <!-- /btn-group-->
          <div class="c-btn-group">
            <button class="c-btn c-btn-success" type="button">Success</button>
            <button class="c-btn c-btn-success c-dropdown-toggle c-dropdown-toggle-split" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
            <div class="c-dropdown-menu"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
              <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <!-- /btn-group-->
          <div class="c-btn-group">
            <button class="c-btn c-btn-info" type="button">Info</button>
            <button class="c-btn c-btn-info c-dropdown-toggle c-dropdown-toggle-split" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
            <div class="c-dropdown-menu"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
              <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <!-- /btn-group-->
          <div class="c-btn-group">
            <button class="c-btn c-btn-warning" type="button">Warning</button>
            <button class="c-btn c-btn-warning c-dropdown-toggle c-dropdown-toggle-split" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
            <div class="c-dropdown-menu"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
              <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <!-- /btn-group-->
          <div class="c-btn-group">
            <button class="c-btn c-btn-danger" type="button">Danger</button>
            <button class="c-btn c-btn-danger c-dropdown-toggle c-dropdown-toggle-split" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
            <div class="c-dropdown-menu"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
              <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <!-- /btn-group-->
          <hr />
          <div class="c-btn-toolbar" role="toolbar">
            <div class="c-btn-group">
              <button class="c-btn c-btn-secondary c-btn-lg c-dropdown-toggle" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Large button</button>
              <div class="c-dropdown-menu"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
                <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
              </div>
            </div>
            <!-- /btn-group-->
            <div class="c-btn-group c-ml-2">
              <button class="c-btn c-btn-lg c-btn-secondary" type="button">Large split button</button>
              <button class="c-btn c-btn-lg c-btn-secondary c-dropdown-toggle c-dropdown-toggle-split" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
              <div class="c-dropdown-menu"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
                <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
              </div>
            </div>
            <!-- /btn-group-->
          </div>
          <!-- /btn-toolbar-->
          <hr />
          <div class="c-btn-toolbar" role="toolbar">
            <div class="c-btn-group">
              <button class="c-btn c-btn-secondary c-btn-sm c-dropdown-toggle" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Small button</button>
              <div class="c-dropdown-menu"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
                <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
              </div>
            </div>
            <!-- /btn-group-->
            <div class="c-btn-group c-ml-2">
              <button class="c-btn c-btn-sm c-btn-secondary" type="button">Small split button</button>
              <button class="c-btn c-btn-sm c-btn-secondary c-dropdown-toggle c-dropdown-toggle-split" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
              <div class="c-dropdown-menu"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
                <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
              </div>
            </div>
            <!-- /btn-group-->
          </div>
          <!-- /btn-toolbar-->
          <hr />
          <div class="bd-example">
            <div class="c-btn-group c-dropup">
              <button class="c-btn c-btn-secondary c-dropdown-toggle" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Dropup</button>
              <div class="c-dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -2px, 0px); top: 0px; left: 0px; will-change: transform;"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
                <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
              </div>
            </div>
            <div class="c-btn-group c-dropup">
              <button class="c-btn c-btn-secondary" type="button">Split dropup</button>
              <button class="c-btn c-btn-secondary c-dropdown-toggle c-dropdown-toggle-split" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
              <div class="c-dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(101px, -188px, 0px); top: 0px; left: 0px; will-change: transform;"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
                <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-row">
    <div class="c-col">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Menus</div>
        <div class="c-card-body">
          <div class="c-dropdown">
            <button class="c-btn c-btn-secondary c-dropdown-toggle" id="dropdownMenu2" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
            <div class="c-dropdown-menu" aria-labelledby="dropdownMenu2" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
              <button class="c-dropdown-item" type="button">Action</button>
              <button class="c-dropdown-item" type="button">Another action</button>
              <button class="c-dropdown-item" type="button">Something else here</button>
            </div>
          </div>
          <hr />
          <div class="c-btn-group">
            <button class="c-btn c-btn-secondary c-dropdown-toggle" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">This dropdown's menu is right-aligned</button>
            <div class="c-dropdown-menu c-dropdown-menu-right">
              <button class="c-dropdown-item" type="button">Action</button>
              <button class="c-dropdown-item" type="button">Another action</button>
              <button class="c-dropdown-item" type="button">Something else here</button>
            </div>
          </div>
          <hr />
          <div class="c-dropdown">
            <button class="c-btn c-btn-secondary c-dropdown-toggle" id="dropdownMenu3" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Menu header</button>
            <div class="c-dropdown-menu">
              <h6 class="c-dropdown-header">Dropdown header</h6><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a>
            </div>
          </div>
          <hr />
          <div class="c-dropdown">
            <button class="c-btn c-btn-secondary c-dropdown-toggle" id="dropdownMenu4" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Menu divider</button>
            <div class="c-dropdown-menu"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
              <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <hr />
          <div class="c-dropdown">
            <button class="c-btn c-btn-secondary c-dropdown-toggle" id="dropdownMenu5" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Menu forms</button>
            <div class="c-dropdown-menu">
              <form class="c-px-4 c-py-3">
                <div class="c-form-group">
                  <label for="exampleDropdownFormEmail1">Email address</label>
                  <input class="c-form-control" id="exampleDropdownFormEmail1" type="email" placeholder="email@example.com" />
                </div>
                <div class="c-form-group">
                  <label for="exampleDropdownFormPassword1">Password</label>
                  <input class="c-form-control" id="exampleDropdownFormPassword1" type="password" placeholder="Password" />
                </div>
                <div class="c-form-check">
                  <label class="c-form-check-label">
                    <input class="c-form-check-input" type="checkbox" /> Remember me
                  </label>
                </div>
                <button class="c-btn c-btn-primary" type="submit">Sign in</button>
              </form>
              <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">New around here? Sign up</a><a class="c-dropdown-item" href="#">Forgot password?</a>
            </div>
          </div>
          <hr />
          <div class="c-dropdown">
            <button class="c-btn c-btn-secondary c-dropdown-toggle" id="dropdownMenu5" type="button" data-toggle="c-dropdown" aria-haspopup="true" aria-expanded="false">Disabled item</button>
            <div class="c-dropdown-menu"><a class="c-dropdown-item" href="#">Regular link</a><a class="c-dropdown-item c-disabled" href="#">Disabled link</a><a class="c-dropdown-item" href="#">Another link</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>