<div class="c-fade-in">
  <div class="c-row">
    <div class="c-col-lg-6">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Bootstrap Badges
          <div class="c-card-header-actions"><a class="c-card-header-action" href="http://coreui.io/docs/components/bootstrap-badge/" target="_blank"><small class="c-text-muted">docs</small></a></div>
        </div>
        <div class="c-card-body">
          <h1>Example heading<span class="c-badge c-badge-secondary">New</span></h1>
          <h2>Example heading<span class="c-badge c-badge-secondary">New</span></h2>
          <h3>Example heading<span class="c-badge c-badge-secondary">New</span></h3>
          <h4>Example heading<span class="c-badge c-badge-secondary">New</span></h4>
          <h5>Example heading<span class="c-badge c-badge-secondary">New</span></h5>
          <h6>Example heading<span class="c-badge c-badge-secondary">New</span></h6>
        </div>
        <div class="c-card-footer">
          <button class="c-btn c-btn-primary" type="link">Notifications<span class="c-badge c-badge-light c-badge-pill" style="position: static;">9</span></button>
        </div>
      </div>
    </div>
    <div class="c-col-lg-6">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Bootstrap Badges<small>contextual variations</small></div>
        <div class="c-card-body"><span class="c-badge c-badge-primary">Primary</span><span class="c-badge c-badge-secondary">Secondary</span><span class="c-badge c-badge-success">Success</span><span class="c-badge c-badge-danger">Danger</span><span class="c-badge c-badge-warning">Warning</span><span class="c-badge c-badge-info">Info</span><span class="c-badge c-badge-light">Light</span><span class="c-badge c-badge-dark">Dark</span></div>
      </div>
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Bootstrap Badges<small>pill badges</small></div>
        <div class="c-card-body"><span class="c-badge c-badge-pill c-badge-primary">Primary</span><span class="c-badge c-badge-pill c-badge-secondary">Secondary</span><span class="c-badge c-badge-pill c-badge-success">Success</span><span class="c-badge c-badge-pill c-badge-danger">Danger</span><span class="c-badge c-badge-pill c-badge-warning">Warning</span><span class="c-badge c-badge-pill c-badge-info">Info</span><span class="c-badge c-badge-pill c-badge-light">Light</span><span class="c-badge c-badge-pill c-badge-dark">Dark</span></div>
      </div>
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Bootstrap Badges<small>links</small></div>
        <div class="c-card-body"><a class="c-badge c-badge-primary" href="#">Primary</a><a class="c-badge c-badge-secondary" href="#">Secondary</a><a class="c-badge c-badge-success" href="#">Success</a><a class="c-badge c-badge-danger" href="#">Danger</a><a class="c-badge c-badge-warning" href="#">Warning</a><a class="c-badge c-badge-info" href="#">Info</a><a class="c-badge c-badge-light" href="#">Light</a><a class="c-badge c-badge-dark" href="#">Dark</a></div>
      </div>
    </div>
  </div>
  <!-- /.c-row-->
</div>