<div class="animated c-fadeIn">
  <div class="c-row">
    <div class="c-col-lg-12">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Bootstrap Modals</div>
        <div class="c-card-body">
          <!-- Button trigger modal-->
          <button class="c-btn c-btn-secondary c-mb-1" type="button" data-toggle="c-modal" data-target="#myModal">Launch demo modal</button>
          <button class="c-btn c-btn-secondary c-mb-1" type="button" data-toggle="c-modal" data-target="#largeModal">Launch large modal</button>
          <button class="c-btn c-btn-secondary c-mb-1" type="button" data-toggle="c-modal" data-target="#smallModal">Launch small modal</button>
          <hr />
          <button class="c-btn c-btn-primary c-mb-1" type="button" data-toggle="c-modal" data-target="#primaryModal">Primary modal</button>
          <button class="c-btn c-btn-success c-mb-1" type="button" data-toggle="c-modal" data-target="#successModal">Success modal</button>
          <button class="c-btn c-btn-warning c-mb-1" type="button" data-toggle="c-modal" data-target="#warningModal">Warning modal</button>
          <button class="c-btn c-btn-danger c-mb-1" type="button" data-toggle="c-modal" data-target="#dangerModal">Danger modal</button>
          <button class="c-btn c-btn-info c-mb-1" type="button" data-toggle="c-modal" data-target="#infoModal">Info modal</button>
        </div>
      </div>
    </div>
    <!-- /.c-col-->
  </div>
  <!-- /.c-row-->
</div>
<div class="c-modal c-fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="c-modal-dialog" role="document">
    <div class="c-modal-content">
      <div class="c-modal-header">
        <h4 class="c-modal-title">Modal title</h4>
        <button class="c-close" type="button" data-dismiss="c-modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="c-modal-body">
        <p>One fine body…</p>
      </div>
      <div class="c-modal-footer">
        <button class="c-btn c-btn-secondary" type="button" data-dismiss="c-modal">Close</button>
        <button class="c-btn c-btn-primary" type="button">Save changes</button>
      </div>
    </div>
    <!-- /.c-modal-content-->
  </div>
  <!-- /.c-modal-dialog-->
</div>
<!-- /.c-modal-->
<div class="c-modal c-fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="c-modal-dialog c-modal-lg" role="document">
    <div class="c-modal-content">
      <div class="c-modal-header">
        <h4 class="c-modal-title">Modal title</h4>
        <button class="c-close" type="button" data-dismiss="c-modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="c-modal-body">
        <p>One fine body…</p>
      </div>
      <div class="c-modal-footer">
        <button class="c-btn c-btn-secondary" type="button" data-dismiss="c-modal">Close</button>
        <button class="c-btn c-btn-primary" type="button">Save changes</button>
      </div>
    </div>
    <!-- /.c-modal-content-->
  </div>
  <!-- /.c-modal-dialog-->
</div>
<!-- /.c-modal-->
<div class="c-modal c-fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="c-modal-dialog c-modal-sm" role="document">
    <div class="c-modal-content">
      <div class="c-modal-header">
        <h4 class="c-modal-title">Modal title</h4>
        <button class="c-close" type="button" data-dismiss="c-modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="c-modal-body">
        <p>One fine body…</p>
      </div>
      <div class="c-modal-footer">
        <button class="c-btn c-btn-secondary" type="button" data-dismiss="c-modal">Close</button>
        <button class="c-btn c-btn-primary" type="button">Save changes</button>
      </div>
    </div>
    <!-- /.c-modal-content-->
  </div>
  <!-- /.c-modal-dialog-->
</div>
<!-- /.c-modal-->
<div class="c-modal c-fade" id="primaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="c-modal-dialog c-modal-primary" role="document">
    <div class="c-modal-content">
      <div class="c-modal-header">
        <h4 class="c-modal-title">Modal title</h4>
        <button class="c-close" type="button" data-dismiss="c-modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="c-modal-body">
        <p>One fine body…</p>
      </div>
      <div class="c-modal-footer">
        <button class="c-btn c-btn-secondary" type="button" data-dismiss="c-modal">Close</button>
        <button class="c-btn c-btn-primary" type="button">Save changes</button>
      </div>
    </div>
    <!-- /.c-modal-content-->
  </div>
  <!-- /.c-modal-dialog-->
</div>
<!-- /.c-modal-->
<div class="c-modal c-fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="c-modal-dialog c-modal-success" role="document">
    <div class="c-modal-content">
      <div class="c-modal-header">
        <h4 class="c-modal-title">Modal title</h4>
        <button class="c-close" type="button" data-dismiss="c-modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="c-modal-body">
        <p>One fine body…</p>
      </div>
      <div class="c-modal-footer">
        <button class="c-btn c-btn-secondary" type="button" data-dismiss="c-modal">Close</button>
        <button class="c-btn c-btn-success" type="button">Save changes</button>
      </div>
    </div>
    <!-- /.c-modal-content-->
  </div>
  <!-- /.c-modal-dialog-->
</div>
<!-- /.c-modal-->
<div class="c-modal c-fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="c-modal-dialog c-modal-warning" role="document">
    <div class="c-modal-content">
      <div class="c-modal-header">
        <h4 class="c-modal-title">Modal title</h4>
        <button class="c-close" type="button" data-dismiss="c-modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="c-modal-body">
        <p>One fine body…</p>
      </div>
      <div class="c-modal-footer">
        <button class="c-btn c-btn-secondary" type="button" data-dismiss="c-modal">Close</button>
        <button class="c-btn c-btn-warning" type="button">Save changes</button>
      </div>
    </div>
    <!-- /.c-modal-content-->
  </div>
  <!-- /.c-modal-dialog-->
</div>
<!-- /.c-modal-->
<div class="c-modal c-fade" id="dangerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="c-modal-dialog c-modal-danger" role="document">
    <div class="c-modal-content">
      <div class="c-modal-header">
        <h4 class="c-modal-title">Modal title</h4>
        <button class="c-close" type="button" data-dismiss="c-modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="c-modal-body">
        <p>One fine body…</p>
      </div>
      <div class="c-modal-footer">
        <button class="c-btn c-btn-secondary" type="button" data-dismiss="c-modal">Close</button>
        <button class="c-btn c-btn-danger" type="button">Save changes</button>
      </div>
    </div>
    <!-- /.c-modal-content-->
  </div>
  <!-- /.c-modal-dialog-->
</div>
<!-- /.c-modal-->
<div class="c-modal c-fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="c-modal-dialog c-modal-info" role="document">
    <div class="c-modal-content">
      <div class="c-modal-header">
        <h4 class="c-modal-title">Modal title</h4>
        <button class="c-close" type="button" data-dismiss="c-modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="c-modal-body">
        <p>One fine body…</p>
      </div>
      <div class="c-modal-footer">
        <button class="c-btn c-btn-secondary" type="button" data-dismiss="c-modal">Close</button>
        <button class="c-btn c-btn-info" type="button">Save changes</button>
      </div>
    </div>
    <!-- /.c-modal-content-->
  </div>
  <!-- /.c-modal-dialog-->
</div>
<!-- /.c-modal-->