<div class="c-fade-in">
  <div class="c-row">
    <div class="c-col-lg-12">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Bootstrap Breadcrumb
          <div class="c-card-header-actions"><a class="c-card-header-action" href="http://coreui.io/docs/components/bootstrap-breadcrumb/" target="_blank"><small class="c-text-muted">docs</small></a></div>
        </div>
        <div class="c-card-body">
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="c-breadcrumb">
              <li class="c-breadcrumb-item c-active" aria-current="page">Home</li>
            </ol>
          </nav>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="c-breadcrumb">
              <li class="c-breadcrumb-item"><a href="#">Home</a></li>
              <li class="c-breadcrumb-item c-active" aria-current="page">Library</li>
            </ol>
          </nav>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="c-breadcrumb">
              <li class="c-breadcrumb-item"><a href="#">Home</a></li>
              <li class="c-breadcrumb-item"><a href="#">Library</a></li>
              <li class="c-breadcrumb-item c-active" aria-current="page">Data</li>
            </ol>
          </nav>
          <nav class="c-breadcrumb"><a class="c-breadcrumb-item" href="#">Home</a><a class="c-breadcrumb-item" href="#">Library</a><a class="c-breadcrumb-item" href="#">Data</a><span class="c-breadcrumb-item c-active">Bootstrap</span></nav>
        </div>
      </div>
    </div>
  </div>
  <!-- /.c-row-->
</div>