<div class="c-fade-in">
  <div class="c-row">
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card">
        <div class="c-card-header">Card title</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card">
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
        <div class="c-card-footer">Card footer</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-check"></i>Card with icon</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card">
        <div class="c-card-header">Card with switch
          <label class="c-switch c-switch-sm c-switch-text c-switch-info c-float-right c-mb-0">
            <input class="c-switch-input" type="checkbox" /><span class="c-switch-label" data-on="On" data-off="Off"></span><span class="c-switch-handle"></span>
          </label>
        </div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card">
        <div class="c-card-header">Card with label<span class="c-badge c-badge-success c-float-right">Success</span></div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card">
        <div class="c-card-header">Card with label<span class="c-badge c-badge-pill c-badge-danger c-float-right">42</span></div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
  </div>
  <!-- /.c-row-->
  <div class="c-row">
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-border-primary">
        <div class="c-card-header">Card outline</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-border-secondary">
        <div class="c-card-header">Card outline</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-border-success">
        <div class="c-card-header">Card outline</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-border-info">
        <div class="c-card-header">Card outline</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-border-warning">
        <div class="c-card-header">Card outline</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-border-danger">
        <div class="c-card-header">Card outline</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
  </div>
  <!-- /.c-row-->
  <div class="c-row">
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-card-accent-primary">
        <div class="c-card-header">Card with accent</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-card-accent-secondary">
        <div class="c-card-header">Card with accent</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-card-accent-success">
        <div class="c-card-header">Card with accent</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-card-accent-info">
        <div class="c-card-header">Card with accent</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-card-accent-warning">
        <div class="c-card-header">Card with accent</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-card-accent-danger">
        <div class="c-card-header">Card with accent</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
  </div>
  <!-- /.c-row-->
  <div class="c-row">
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-text-white c-bg-primary c-text-center">
        <div class="c-card-body">
          <blockquote class="c-card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-text-white c-bg-success c-text-center">
        <div class="c-card-body">
          <blockquote class="c-card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-text-white c-bg-info c-text-center">
        <div class="c-card-body">
          <blockquote class="c-card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-text-white c-bg-warning c-text-center">
        <div class="c-card-body">
          <blockquote class="c-card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-text-white c-bg-danger c-text-center">
        <div class="c-card-body">
          <blockquote class="c-card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-text-white c-bg-primary c-text-center">
        <div class="c-card-body">
          <blockquote class="c-card-bodyquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <!-- /.c-col-->
  </div>
  <!-- /.c-row-->
  <div class="c-row">
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-text-white c-bg-primary">
        <div class="c-card-header">Card title</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-text-white c-bg-success">
        <div class="c-card-header">Card title</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-text-white c-bg-info">
        <div class="c-card-header">Card title</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-text-white c-bg-warning">
        <div class="c-card-header">Card title</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card c-text-white c-bg-danger">
        <div class="c-card-header">Card title</div>
        <div class="c-card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <!-- /.c-col-->
    <div class="c-col-sm-6 c-col-md-4">
      <div class="c-card">
        <div class="c-card-header">Card actions
          <div class="c-card-header-actions"><a class="c-card-header-action c-btn-setting" href="#"><i class="icon-settings"></i></a><a class="c-card-header-action c-btn-minimize" href="#" data-toggle="c-collapse" data-target="#collapseExample" aria-expanded="true"><i class="icon-arrow-up"></i></a><a class="c-card-header-action c-btn-close" href="#"><i class="icon-close"></i></a></div>
        </div>
        <div class="c-collapse c-show" id="collapseExample">
          <div class="c-card-body"></div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <!-- /.c-col-->
  </div>
  <!-- /.c-row-->
  <div class="c-modal c-fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="c-modal-dialog" role="document">
      <div class="c-modal-content">
        <div class="c-modal-header">
          <h4 class="c-modal-title">Modal title</h4>
          <button class="c-close" type="button" data-dismiss="c-modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="c-modal-body">
          <p>One fine body…</p>
        </div>
        <div class="c-modal-footer">
          <button class="c-btn c-btn-secondary" type="button" data-dismiss="c-modal">Close</button>
          <button class="c-btn c-btn-primary" type="button">Save changes</button>
        </div>
      </div>
      <!-- /.c-modal-content-->
    </div>
    <!-- /.c-modal-dialog-->
  </div>
</div>