<div class="c-fade-in">
  <div class="c-row">
    <div class="c-col-sm-12 c-col-xl-6">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Jumbotron
          <div class="c-card-header-actions"><a class="c-card-header-action" href="http://coreui.io/docs/components/bootstrap-jumbotron/" target="_blank"><small class="c-text-muted">docs</small></a></div>
        </div>
        <div class="c-card-body">
          <div class="c-jumbotron">
            <h1 class="c-display-3">Hello, world!</h1>
            <p class="c-lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="c-my-4" />
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="c-lead"><a class="c-btn c-btn-primary c-btn-lg" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="c-col-sm-12 c-col-xl-6">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Jumbotron<small>fluid</small></div>
        <div class="c-card-body">
          <div class="c-jumbotron c-jumbotron-fluid">
            <div class="c-container">
              <h1 class="c-display-3">Fluid jumbotron</h1>
              <p class="c-lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>