<div class="c-fade-in">
  <div class="c-row">
    <div class="c-col-sm-12 c-col-xl-6">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Navs
          <div class="c-card-header-actions"><a class="c-card-header-action" href="http://coreui.io/docs/components/bootstrap-navs/" target="_blank"><small class="c-text-muted">docs</small></a></div>
        </div>
        <div class="c-card-body">
          <ul class="c-nav">
            <li class="c-nav-item"><a class="c-nav-link c-active" href="#">Active</a></li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Link</a></li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Link</a></li>
            <li class="c-nav-item"><a class="c-nav-link c-disabled" href="#">Disabled</a></li>
          </ul>
          <hr />
          <nav class="c-nav"><a class="c-nav-link c-active" href="#">Active</a><a class="c-nav-link" href="#">Link</a><a class="c-nav-link" href="#">Link</a><a class="c-nav-link c-disabled" href="#">Disabled</a></nav>
          <hr />
          <ul class="c-nav c-justify-content-center">
            <li class="c-nav-item"><a class="c-nav-link c-active" href="#">Active</a></li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Link</a></li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Link</a></li>
            <li class="c-nav-item"><a class="c-nav-link c-disabled" href="#">Disabled</a></li>
          </ul>
          <hr />
          <ul class="c-nav c-justify-content-end">
            <li class="c-nav-item"><a class="c-nav-link c-active" href="#">Active</a></li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Link</a></li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Link</a></li>
            <li class="c-nav-item"><a class="c-nav-link c-disabled" href="#">Disabled</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="c-col-sm-12 c-col-xl-3">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Navs<small>vertical</small></div>
        <div class="c-card-body">
          <nav class="c-nav c-flex-column"><a class="c-nav-link c-active" href="#">Active</a><a class="c-nav-link" href="#">Link</a><a class="c-nav-link" href="#">Link</a><a class="c-nav-link c-disabled" href="#">Disabled</a></nav>
        </div>
      </div>
    </div>
    <div class="c-col-sm-12 c-col-xl-3">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Navs<small>vertical</small></div>
        <div class="c-card-body">
          <ul class="c-nav c-flex-column">
            <li class="c-nav-item"><a class="c-nav-link c-active" href="#">Active</a></li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Link</a></li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Link</a></li>
            <li class="c-nav-item"><a class="c-nav-link c-disabled" href="#">Disabled</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="c-row">
    <div class="c-col-sm-12 c-col-xl-6">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Navs<small>tabs</small></div>
        <div class="c-card-body">
          <ul class="c-nav c-nav-tabs">
            <li class="c-nav-item"><a class="c-nav-link c-active" href="#">Active</a></li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Link</a></li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Link</a></li>
            <li class="c-nav-item"><a class="c-nav-link c-disabled" href="#">Disabled</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="c-col-sm-12 c-col-xl-6">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Navs<small>pills</small></div>
        <div class="c-card-body">
          <ul class="c-nav c-nav-pills">
            <li class="c-nav-item"><a class="c-nav-link c-active" href="#">Active</a></li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Link</a></li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Link</a></li>
            <li class="c-nav-item"><a class="c-nav-link c-disabled" href="#">Disabled</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="c-row">
    <div class="c-col">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Navs<small>fill and justify</small></div>
        <div class="c-card-body">
          <ul class="c-nav c-nav-pills c-nav-fill">
            <li class="c-nav-item"><a class="c-nav-link c-active" href="#">Active</a></li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Longer nav link</a></li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Link</a></li>
            <li class="c-nav-item"><a class="c-nav-link c-disabled" href="#">Disabled</a></li>
          </ul>
          <hr />
          <nav class="c-nav c-nav-pills c-nav-fill"><a class="c-nav-item c-nav-link c-active" href="#">Active</a><a class="c-nav-item c-nav-link" href="#">Link</a><a class="c-nav-item c-nav-link" href="#">Link</a><a class="c-nav-item c-nav-link c-disabled" href="#">Disabled</a></nav>
          <hr />
          <nav class="c-nav c-nav-pills c-nav-justified"><a class="c-nav-link c-active" href="#">Active</a><a class="c-nav-link" href="#">Longer nav link</a><a class="c-nav-link" href="#">Link</a><a class="c-nav-link c-disabled" href="#">Disabled</a></nav>
          <hr />
          <nav class="c-nav c-nav-pills c-nav-justified"><a class="c-nav-item c-nav-link c-active" href="#">Active</a><a class="c-nav-item c-nav-link" href="#">Link</a><a class="c-nav-item c-nav-link" href="#">Link</a><a class="c-nav-item c-nav-link c-disabled" href="#">Disabled</a></nav>
        </div>
      </div>
    </div>
  </div>
  <div class="c-row">
    <div class="c-col">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Navs<small>with flex</small></div>
        <div class="c-card-body">
          <nav class="c-nav c-nav-pills c-flex-column c-flex-sm-row"><a class="c-flex-sm-fill c-text-sm-center c-nav-link c-active" href="#">Active</a><a class="c-flex-sm-fill c-text-sm-center c-nav-link" href="#">Link</a><a class="c-flex-sm-fill c-text-sm-center c-nav-link" href="#">Link</a><a class="c-flex-sm-fill c-text-sm-center c-nav-link c-disabled" href="#">Disabled</a></nav>
        </div>
      </div>
    </div>
  </div>
  <div class="c-row">
    <div class="c-col">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Navs<small>tabs with dropdowns</small></div>
        <div class="c-card-body">
          <ul class="c-nav c-nav-tabs">
            <li class="c-nav-item"><a class="c-nav-link c-active" href="#">Active</a></li>
            <li class="c-nav-item c-dropdown"><a class="c-nav-link c-dropdown-toggle" data-toggle="c-dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="c-dropdown-menu"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
                <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
              </div>
            </li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Link</a></li>
            <li class="c-nav-item"><a class="c-nav-link c-disabled" href="#">Disabled</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="c-col">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Navs<small>pills with dropdowns</small></div>
        <div class="c-card-body">
          <ul class="c-nav c-nav-pills">
            <li class="c-nav-item"><a class="c-nav-link c-active" href="#">Active</a></li>
            <li class="c-nav-item c-dropdown"><a class="c-nav-link c-dropdown-toggle" data-toggle="c-dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="c-dropdown-menu"><a class="c-dropdown-item" href="#">Action</a><a class="c-dropdown-item" href="#">Another action</a><a class="c-dropdown-item" href="#">Something else here</a>
                <div class="c-dropdown-divider"></div><a class="c-dropdown-item" href="#">Separated link</a>
              </div>
            </li>
            <li class="c-nav-item"><a class="c-nav-link" href="#">Link</a></li>
            <li class="c-nav-item"><a class="c-nav-link c-disabled" href="#">Disabled</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="c-row">
    <div class="c-col">
      <div class="c-card">
        <div class="c-card-header"><i class="fa fa-align-justify"></i> Navs<small>with tab JavaScript plugin</small></div>
        <div class="c-card-body">
          <ul class="c-nav c-nav-tabs" id="myTab1" role="tablist">
            <li class="c-nav-item"><a class="c-nav-link c-active" id="home-tab" data-toggle="c-tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a></li>
            <li class="c-nav-item"><a class="c-nav-link" id="profile-tab" data-toggle="c-tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a></li>
            <li class="c-nav-item"><a class="c-nav-link" id="contact-tab" data-toggle="c-tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a></li>
          </ul>
          <div class="c-tab-content" id="myTab1Content">
            <div class="c-tab-pane c-fade c-show c-active" id="home" role="tabpanel" aria-labelledby="home-tab">
              Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
              synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
              retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
              placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            </div>
            <div class="c-tab-pane c-fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1
              labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft
              beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
              vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica
              VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
              8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
              stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
            </div>
            <div class="c-tab-pane c-fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro
              fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone
              skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings
              gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel
              fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer
              blog stumptown. Pitchfork sustainable tofu synth chambray yr.
            </div>
          </div>
          <hr />
          <div class="c-row">
            <div class="c-col">
              <ul class="c-nav c-nav-pills c-mb-1" id="pills-tab" role="tablist">
                <li class="c-nav-item"><a class="c-nav-link c-active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a></li>
                <li class="c-nav-item"><a class="c-nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a></li>
                <li class="c-nav-item"><a class="c-nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a></li>
              </ul>
              <div class="c-tab-content" id="pills-tabContent">
                <div class="c-tab-pane c-fade c-show c-active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                  synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                  retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                  placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                </div>
                <div class="c-tab-pane c-fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1
                  labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft
                  beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
                  vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica
                  VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
                  8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                  stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                </div>
                <div class="c-tab-pane c-fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                  Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro
                  fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone
                  skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings
                  gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel
                  fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer
                  blog stumptown. Pitchfork sustainable tofu synth chambray yr.
                </div>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>