<!-- Plugins and scripts required by this view-->
<script src="js/popovers.js"></script>


<div class="c-fade-in">
  <div class="c-card">
    <div class="c-card-header"><i class="fa fa-align-justify"></i> Popovers
      <div class="c-card-header-actions"><a class="c-card-header-action" href="http://coreui.io/docs/components/bootstrap-popover/popovers.html" target="_blank"><small class="c-text-muted">docs</small></a></div>
    </div>
    <div class="c-card-body">
      <button class="c-btn c-btn-lg c-btn-danger" type="button" data-toggle="c-popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
      <hr /><a class="c-btn c-btn-lg c-btn-danger" tabindex="0" role="button" data-toggle="c-popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">
        Dismissible
        popover</a>
    </div>
  </div>
  <div class="c-card">
    <div class="c-card-header"><i class="fa fa-align-justify"></i> Popovers<small>directions</small></div>
    <div class="c-card-body">
      <button class="c-btn c-btn-secondary" type="button" data-container="body" data-toggle="c-popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on top</button>
      <button class="c-btn c-btn-secondary" type="button" data-container="body" data-toggle="c-popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on right</button>
      <button class="c-btn c-btn-secondary" type="button" data-container="body" data-toggle="c-popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on bottom</button>
      <button class="c-btn c-btn-secondary" type="button" data-container="body" data-toggle="c-popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on left</button>
    </div>
  </div>
</div>