<div class="fade-in">
  <div class="card card-default">
    <div class="card-header"><i class="fa fa-picture-o"></i> Simple Line Icons</div>
    <div class="card-body">
      <div class="row text-center">
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-user c-icons font-2xl d-block mt-4"></i>icon-user</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-people c-icons font-2xl d-block mt-4"></i>icon-people</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-user-female c-icons font-2xl d-block mt-4"></i>icon-user-female</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-user-follow c-icons font-2xl d-block mt-4"></i>icon-user-follow</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-user-following c-icons font-2xl d-block mt-4"></i>icon-user-following</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-user-unfollow c-icons font-2xl d-block mt-4"></i>icon-user-unfollow</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-login c-icons font-2xl d-block mt-4"></i>icon-login</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-logout c-icons font-2xl d-block mt-4"></i>icon-logout</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-emotsmile c-icons font-2xl d-block mt-4"></i>icon-emotsmile</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-phone c-icons font-2xl d-block mt-4"></i>icon-phone</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-call-end c-icons font-2xl d-block mt-4"></i>icon-call-end</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-call-in c-icons font-2xl d-block mt-4"></i>icon-call-in</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-call-out c-icons font-2xl d-block mt-4"></i>icon-call-out</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-map c-icons font-2xl d-block mt-4"></i>icon-map</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-location-pin c-icons font-2xl d-block mt-4"></i>icon-location-pin</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-direction c-icons font-2xl d-block mt-4"></i>icon-direction</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-directions c-icons font-2xl d-block mt-4"></i>icon-directions</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-compass c-icons font-2xl d-block mt-4"></i>icon-compass</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-layers c-icons font-2xl d-block mt-4"></i>icon-layers</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-menu c-icons font-2xl d-block mt-4"></i>icon-menu</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-list c-icons font-2xl d-block mt-4"></i>icon-list</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-options-vertical c-icons font-2xl d-block mt-4"></i>icon-options-vertical</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-options c-icons font-2xl d-block mt-4"></i>icon-options</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-arrow-down c-icons font-2xl d-block mt-4"></i>icon-arrow-down</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-arrow-left c-icons font-2xl d-block mt-4"></i>icon-arrow-left</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-arrow-right c-icons font-2xl d-block mt-4"></i>icon-arrow-right</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-arrow-up c-icons font-2xl d-block mt-4"></i>icon-arrow-up</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-arrow-up-circle c-icons font-2xl d-block mt-4"></i>icon-arrow-up-circle</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-arrow-left-circle c-icons font-2xl d-block mt-4"></i>icon-arrow-left-circle</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-arrow-right-circle c-icons font-2xl d-block mt-4"></i>icon-arrow-right-circle</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-arrow-down-circle c-icons font-2xl d-block mt-4"></i>icon-arrow-down-circle</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-check c-icons font-2xl d-block mt-4"></i>icon-check</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-clock c-icons font-2xl d-block mt-4"></i>icon-clock</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-plus c-icons font-2xl d-block mt-4"></i>icon-plus</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-close c-icons font-2xl d-block mt-4"></i>icon-close</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-trophy c-icons font-2xl d-block mt-4"></i>icon-trophy</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-screen-smartphone c-icons font-2xl d-block mt-4"></i>icon-screen-smartphone</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-screen-desktop c-icons font-2xl d-block mt-4"></i>icon-screen-desktop</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-plane c-icons font-2xl d-block mt-4"></i>icon-plane</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-notebook c-icons font-2xl d-block mt-4"></i>icon-notebook</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-mustache c-icons font-2xl d-block mt-4"></i>icon-mustache</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-mouse c-icons font-2xl d-block mt-4"></i>icon-mouse</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-magnet c-icons font-2xl d-block mt-4"></i>icon-magnet</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-energy c-icons font-2xl d-block mt-4"></i>icon-energy</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-disc c-icons font-2xl d-block mt-4"></i>icon-disc</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-cursor c-icons font-2xl d-block mt-4"></i>icon-cursor</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-cursor-move c-icons font-2xl d-block mt-4"></i>icon-cursor-move</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-crop c-icons font-2xl d-block mt-4"></i>icon-crop</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-chemistry c-icons font-2xl d-block mt-4"></i>icon-chemistry</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-speedometer c-icons font-2xl d-block mt-4"></i>icon-speedometer</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-shield c-icons font-2xl d-block mt-4"></i>icon-shield</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-screen-tablet c-icons font-2xl d-block mt-4"></i>icon-screen-tablet</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-magic-wand c-icons font-2xl d-block mt-4"></i>icon-magic-wand</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-hourglass c-icons font-2xl d-block mt-4"></i>icon-hourglass</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-graduation c-icons font-2xl d-block mt-4"></i>icon-graduation</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-ghost c-icons font-2xl d-block mt-4"></i>icon-ghost</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-game-controller c-icons font-2xl d-block mt-4"></i>icon-game-controller</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-fire c-icons font-2xl d-block mt-4"></i>icon-fire</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-eyeglass c-icons font-2xl d-block mt-4"></i>icon-eyeglass</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-envelope-open c-icons font-2xl d-block mt-4"></i>icon-envelope-open</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-envelope-letter c-icons font-2xl d-block mt-4"></i>icon-envelope-letter</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-bell c-icons font-2xl d-block mt-4"></i>icon-bell</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-badge c-icons font-2xl d-block mt-4"></i>icon-badge</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-anchor c-icons font-2xl d-block mt-4"></i>icon-anchor</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-wallet c-icons font-2xl d-block mt-4"></i>icon-wallet</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-vector c-icons font-2xl d-block mt-4"></i>icon-vector</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-speech c-icons font-2xl d-block mt-4"></i>icon-speech</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-puzzle c-icons font-2xl d-block mt-4"></i>icon-puzzle</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-printer c-icons font-2xl d-block mt-4"></i>icon-printer</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-present c-icons font-2xl d-block mt-4"></i>icon-present</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-playlist c-icons font-2xl d-block mt-4"></i>icon-playlist</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-pin c-icons font-2xl d-block mt-4"></i>icon-pin</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-picture c-icons font-2xl d-block mt-4"></i>icon-picture</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-handbag c-icons font-2xl d-block mt-4"></i>icon-handbag</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-globe-alt c-icons font-2xl d-block mt-4"></i>icon-globe-alt</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-globe c-icons font-2xl d-block mt-4"></i>icon-globe</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-folder-alt c-icons font-2xl d-block mt-4"></i>icon-folder-alt</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-folder c-icons font-2xl d-block mt-4"></i>icon-folder</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-film c-icons font-2xl d-block mt-4"></i>icon-film</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-feed c-icons font-2xl d-block mt-4"></i>icon-feed</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-drop c-icons font-2xl d-block mt-4"></i>icon-drop</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-drawer c-icons font-2xl d-block mt-4"></i>icon-drawer</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-docs c-icons font-2xl d-block mt-4"></i>icon-docs</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-doc c-icons font-2xl d-block mt-4"></i>icon-doc</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-diamond c-icons font-2xl d-block mt-4"></i>icon-diamond</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-cup c-icons font-2xl d-block mt-4"></i>icon-cup</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-calculator c-icons font-2xl d-block mt-4"></i>icon-calculator</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-bubbles c-icons font-2xl d-block mt-4"></i>icon-bubbles</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-briefcase c-icons font-2xl d-block mt-4"></i>icon-briefcase</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-book-open c-icons font-2xl d-block mt-4"></i>icon-book-open</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-basket-loaded c-icons font-2xl d-block mt-4"></i>icon-basket-loaded</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-basket c-icons font-2xl d-block mt-4"></i>icon-basket</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-bag c-icons font-2xl d-block mt-4"></i>icon-bag</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-action-undo c-icons font-2xl d-block mt-4"></i>icon-action-undo</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-action-redo c-icons font-2xl d-block mt-4"></i>icon-action-redo</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-wrench c-icons font-2xl d-block mt-4"></i>icon-wrench</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-umbrella c-icons font-2xl d-block mt-4"></i>icon-umbrella</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-trash c-icons font-2xl d-block mt-4"></i>icon-trash</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-tag c-icons font-2xl d-block mt-4"></i>icon-tag</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-support c-icons font-2xl d-block mt-4"></i>icon-support</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-frame c-icons font-2xl d-block mt-4"></i>icon-frame</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-size-fullscreen c-icons font-2xl d-block mt-4"></i>icon-size-fullscreen</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-size-actual c-icons font-2xl d-block mt-4"></i>icon-size-actual</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-shuffle c-icons font-2xl d-block mt-4"></i>icon-shuffle</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-share-alt c-icons font-2xl d-block mt-4"></i>icon-share-alt</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-share c-icons font-2xl d-block mt-4"></i>icon-share</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-rocket c-icons font-2xl d-block mt-4"></i>icon-rocket</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-question c-icons font-2xl d-block mt-4"></i>icon-question</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-pie-chart c-icons font-2xl d-block mt-4"></i>icon-pie-chart</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-pencil c-icons font-2xl d-block mt-4"></i>icon-pencil</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-note c-icons font-2xl d-block mt-4"></i>icon-note</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-loop c-icons font-2xl d-block mt-4"></i>icon-loop</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-home c-icons font-2xl d-block mt-4"></i>icon-home</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-grid c-icons font-2xl d-block mt-4"></i>icon-grid</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-graph c-icons font-2xl d-block mt-4"></i>icon-graph</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-microphone c-icons font-2xl d-block mt-4"></i>icon-microphone</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-music-tone-alt c-icons font-2xl d-block mt-4"></i>icon-music-tone-alt</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-music-tone c-icons font-2xl d-block mt-4"></i>icon-music-tone</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-earphones-alt c-icons font-2xl d-block mt-4"></i>icon-earphones-alt</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-earphones c-icons font-2xl d-block mt-4"></i>icon-earphones</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-equalizer c-icons font-2xl d-block mt-4"></i>icon-equalizer</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-like c-icons font-2xl d-block mt-4"></i>icon-like</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-dislike c-icons font-2xl d-block mt-4"></i>icon-dislike</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-control-start c-icons font-2xl d-block mt-4"></i>icon-control-start</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-control-rewind c-icons font-2xl d-block mt-4"></i>icon-control-rewind</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-control-play c-icons font-2xl d-block mt-4"></i>icon-control-play</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-control-pause c-icons font-2xl d-block mt-4"></i>icon-control-pause</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-control-forward c-icons font-2xl d-block mt-4"></i>icon-control-forward</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-control-end c-icons font-2xl d-block mt-4"></i>icon-control-end</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-volume-1 c-icons font-2xl d-block mt-4"></i>icon-volume-1</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-volume-2 c-icons font-2xl d-block mt-4"></i>icon-volume-2</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-volume-off c-icons font-2xl d-block mt-4"></i>icon-volume-off</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-calendar c-icons font-2xl d-block mt-4"></i>icon-calendar</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-bulb c-icons font-2xl d-block mt-4"></i>icon-bulb</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-chart c-icons font-2xl d-block mt-4"></i>icon-chart</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-ban c-icons font-2xl d-block mt-4"></i>icon-ban</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-bubble c-icons font-2xl d-block mt-4"></i>icon-bubble</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-camrecorder c-icons font-2xl d-block mt-4"></i>icon-camrecorder</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-camera c-icons font-2xl d-block mt-4"></i>icon-camera</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-cloud-download c-icons font-2xl d-block mt-4"></i>icon-cloud-download</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-cloud-upload c-icons font-2xl d-block mt-4"></i>icon-cloud-upload</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-envelope c-icons font-2xl d-block mt-4"></i>icon-envelope</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-eye c-icons font-2xl d-block mt-4"></i>icon-eye</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-flag c-icons font-2xl d-block mt-4"></i>icon-flag</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-heart c-icons font-2xl d-block mt-4"></i>icon-heart</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-info c-icons font-2xl d-block mt-4"></i>icon-info</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-key c-icons font-2xl d-block mt-4"></i>icon-key</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-link c-icons font-2xl d-block mt-4"></i>icon-link</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-lock c-icons font-2xl d-block mt-4"></i>icon-lock</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-lock-open c-icons font-2xl d-block mt-4"></i>icon-lock-open</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-magnifier c-icons font-2xl d-block mt-4"></i>icon-magnifier</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-magnifier-add c-icons font-2xl d-block mt-4"></i>icon-magnifier-add</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-magnifier-remove c-icons font-2xl d-block mt-4"></i>icon-magnifier-remove</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-paper-clip c-icons font-2xl d-block mt-4"></i>icon-paper-clip</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-paper-plane c-icons font-2xl d-block mt-4"></i>icon-paper-plane</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-power c-icons font-2xl d-block mt-4"></i>icon-power</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-refresh c-icons font-2xl d-block mt-4"></i>icon-refresh</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-reload c-icons font-2xl d-block mt-4"></i>icon-reload</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-settings c-icons font-2xl d-block mt-4"></i>icon-settings</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-star c-icons font-2xl d-block mt-4"></i>icon-star</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-symbol-female c-icons font-2xl d-block mt-4"></i>icon-symbol-female</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-symbol-male c-icons font-2xl d-block mt-4"></i>icon-symbol-male</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-target c-icons font-2xl d-block mt-4"></i>icon-target</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-credit-card c-icons font-2xl d-block mt-4"></i>icon-credit-card</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-paypal c-icons font-2xl d-block mt-4"></i>icon-paypal</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-tumblr c-icons font-2xl d-block mt-4"></i>icon-social-tumblr</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-twitter c-icons font-2xl d-block mt-4"></i>icon-social-twitter</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-facebook c-icons font-2xl d-block mt-4"></i>icon-social-facebook</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-instagram c-icons font-2xl d-block mt-4"></i>icon-social-instagram</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-linkedin c-icons font-2xl d-block mt-4"></i>icon-social-linkedin</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-pinterest c-icons font-2xl d-block mt-4"></i>icon-social-pinterest</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-github c-icons font-2xl d-block mt-4"></i>icon-social-github</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-gplus c-icons font-2xl d-block mt-4"></i>icon-social-gplus</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-reddit c-icons font-2xl d-block mt-4"></i>icon-social-reddit</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-skype c-icons font-2xl d-block mt-4"></i>icon-social-skype</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-dribbble c-icons font-2xl d-block mt-4"></i>icon-social-dribbble</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-behance c-icons font-2xl d-block mt-4"></i>icon-social-behance</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-foursqare c-icons font-2xl d-block mt-4"></i>icon-social-foursqare</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-soundcloud c-icons font-2xl d-block mt-4"></i>icon-social-soundcloud</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-spotify c-icons font-2xl d-block mt-4"></i>icon-social-spotify</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-stumbleupon c-icons font-2xl d-block mt-4"></i>icon-social-stumbleupon</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-youtube c-icons font-2xl d-block mt-4"></i>icon-social-youtube</div>
        <div class="col-6 col-sm-4 col-md-3"><i class="c-icon-social-dropbox c-icons font-2xl d-block mt-4"></i>icon-social-dropbox</div>
      </div>
      <!-- /.row-->
    </div>
  </div>
</div>