- var ajax = true
doctype html
include ../partials/banner.pug

html(lang='en')
  head
    include ../partials/head.pug
  body.c-app.c-default-layout
    include ../partials/header.pug
    include ../partials/sidebar.pug
    include ../partials/aside.pug
    .c-body
      main(class='c-main')
        include ../partials/breadcrumb.pug
        .c-container-fluid
          #ui-view
    include ../partials/footer.pug
    include ../partials/scripts.pug
