<!-- Plugins and scripts required by this view-->
<script src="js/colors.js"></script>


<div class="c-fade-in">
  <div class="c-card">
    <div class="c-card-header"><i class="icon-drop"></i> Theme colors</div>
    <div class="c-card-body">
      <div class="c-row">
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-primary theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Brand Primary Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-secondary theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Brand Secondary Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-success theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Brand Success Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-danger theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Brand Danger Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-warning theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Brand Warning Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-info theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Brand Info Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-light theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Brand Light Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-dark theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Brand Dark Color</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="c-card">
    <div class="c-card-header"><i class="icon-drop"></i> Grays</div>
    <div class="c-card-body">
      <div class="c-row c-mb-3">
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-gray-100 theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Gray 100 Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-gray-200 theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Gray 200 Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-gray-300 theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Gray 300 Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-gray-400 theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Gray 400 Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-gray-500 theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Gray 500 Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-gray-600 theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Gray 600 Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-gray-700 theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Gray 700 Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-gray-800 theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Gray 800 Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-bg-gray-900 theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Gray 900 Color</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="c-card">
    <div class="c-card-header"><i class="icon-drop"></i> Additional colors</div>
    <div class="c-card-body">
      <div class="c-row">
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-mb-3 c-bg-blue theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Blue Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-mb-3 c-bg-light-blue theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Light Blue Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-mb-3 c-bg-indigo theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Indigo Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-mb-3 c-bg-purple theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Purple Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-mb-3 c-bg-pink theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Pink Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-mb-3 c-bg-red theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Red Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-mb-3 c-bg-orange theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Orange Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-mb-3 c-bg-yellow theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Yellow Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-mb-3 c-bg-green theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Green Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-mb-3 c-bg-teal theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Teal Color</h6>
        </div>
        <div class="c-col-xl-2 c-col-md-3 c-col-sm-4 c-col-6 c-mb-4">
          <div class="c-mb-3 c-bg-cyan theme-color c-w-75 c-rounded c-mb-2" style="padding-top:75%"></div>
          <h6>Cyan Color</h6>
        </div>
      </div>
    </div>
  </div>
</div>