extends /_layout/default.pug

block view
  .fade-in
    .card.card-default
      .card-header
        i.fa.fa-picture-o
        |  Simple Line Icons
      .card-body
        .row.text-center
          .col-6.col-sm-4.col-md-3
            i.c-icon-user.c-icons.font-2xl.d-block.mt-4
            | icon-user
          .col-6.col-sm-4.col-md-3
            i.c-icon-people.c-icons.font-2xl.d-block.mt-4
            | icon-people
          .col-6.col-sm-4.col-md-3
            i.c-icon-user-female.c-icons.font-2xl.d-block.mt-4
            | icon-user-female
          .col-6.col-sm-4.col-md-3
            i.c-icon-user-follow.c-icons.font-2xl.d-block.mt-4
            | icon-user-follow
          .col-6.col-sm-4.col-md-3
            i.c-icon-user-following.c-icons.font-2xl.d-block.mt-4
            | icon-user-following
          .col-6.col-sm-4.col-md-3
            i.c-icon-user-unfollow.c-icons.font-2xl.d-block.mt-4
            | icon-user-unfollow
          .col-6.col-sm-4.col-md-3
            i.c-icon-login.c-icons.font-2xl.d-block.mt-4
            | icon-login
          .col-6.col-sm-4.col-md-3
            i.c-icon-logout.c-icons.font-2xl.d-block.mt-4
            | icon-logout
          .col-6.col-sm-4.col-md-3
            i.c-icon-emotsmile.c-icons.font-2xl.d-block.mt-4
            | icon-emotsmile
          .col-6.col-sm-4.col-md-3
            i.c-icon-phone.c-icons.font-2xl.d-block.mt-4
            | icon-phone
          .col-6.col-sm-4.col-md-3
            i.c-icon-call-end.c-icons.font-2xl.d-block.mt-4
            | icon-call-end
          .col-6.col-sm-4.col-md-3
            i.c-icon-call-in.c-icons.font-2xl.d-block.mt-4
            | icon-call-in
          .col-6.col-sm-4.col-md-3
            i.c-icon-call-out.c-icons.font-2xl.d-block.mt-4
            | icon-call-out
          .col-6.col-sm-4.col-md-3
            i.c-icon-map.c-icons.font-2xl.d-block.mt-4
            | icon-map
          .col-6.col-sm-4.col-md-3
            i.c-icon-location-pin.c-icons.font-2xl.d-block.mt-4
            | icon-location-pin
          .col-6.col-sm-4.col-md-3
            i.c-icon-direction.c-icons.font-2xl.d-block.mt-4
            | icon-direction
          .col-6.col-sm-4.col-md-3
            i.c-icon-directions.c-icons.font-2xl.d-block.mt-4
            | icon-directions
          .col-6.col-sm-4.col-md-3
            i.c-icon-compass.c-icons.font-2xl.d-block.mt-4
            | icon-compass
          .col-6.col-sm-4.col-md-3
            i.c-icon-layers.c-icons.font-2xl.d-block.mt-4
            | icon-layers
          .col-6.col-sm-4.col-md-3
            i.c-icon-menu.c-icons.font-2xl.d-block.mt-4
            | icon-menu
          .col-6.col-sm-4.col-md-3
            i.c-icon-list.c-icons.font-2xl.d-block.mt-4
            | icon-list
          .col-6.col-sm-4.col-md-3
            i.c-icon-options-vertical.c-icons.font-2xl.d-block.mt-4
            | icon-options-vertical
          .col-6.col-sm-4.col-md-3
            i.c-icon-options.c-icons.font-2xl.d-block.mt-4
            | icon-options
          .col-6.col-sm-4.col-md-3
            i.c-icon-arrow-down.c-icons.font-2xl.d-block.mt-4
            | icon-arrow-down
          .col-6.col-sm-4.col-md-3
            i.c-icon-arrow-left.c-icons.font-2xl.d-block.mt-4
            | icon-arrow-left
          .col-6.col-sm-4.col-md-3
            i.c-icon-arrow-right.c-icons.font-2xl.d-block.mt-4
            | icon-arrow-right
          .col-6.col-sm-4.col-md-3
            i.c-icon-arrow-up.c-icons.font-2xl.d-block.mt-4
            | icon-arrow-up
          .col-6.col-sm-4.col-md-3
            i.c-icon-arrow-up-circle.c-icons.font-2xl.d-block.mt-4
            | icon-arrow-up-circle
          .col-6.col-sm-4.col-md-3
            i.c-icon-arrow-left-circle.c-icons.font-2xl.d-block.mt-4
            | icon-arrow-left-circle
          .col-6.col-sm-4.col-md-3
            i.c-icon-arrow-right-circle.c-icons.font-2xl.d-block.mt-4
            | icon-arrow-right-circle
          .col-6.col-sm-4.col-md-3
            i.c-icon-arrow-down-circle.c-icons.font-2xl.d-block.mt-4
            | icon-arrow-down-circle
          .col-6.col-sm-4.col-md-3
            i.c-icon-check.c-icons.font-2xl.d-block.mt-4
            | icon-check
          .col-6.col-sm-4.col-md-3
            i.c-icon-clock.c-icons.font-2xl.d-block.mt-4
            | icon-clock
          .col-6.col-sm-4.col-md-3
            i.c-icon-plus.c-icons.font-2xl.d-block.mt-4
            | icon-plus
          .col-6.col-sm-4.col-md-3
            i.c-icon-close.c-icons.font-2xl.d-block.mt-4
            | icon-close
          .col-6.col-sm-4.col-md-3
            i.c-icon-trophy.c-icons.font-2xl.d-block.mt-4
            | icon-trophy
          .col-6.col-sm-4.col-md-3
            i.c-icon-screen-smartphone.c-icons.font-2xl.d-block.mt-4
            | icon-screen-smartphone
          .col-6.col-sm-4.col-md-3
            i.c-icon-screen-desktop.c-icons.font-2xl.d-block.mt-4
            | icon-screen-desktop
          .col-6.col-sm-4.col-md-3
            i.c-icon-plane.c-icons.font-2xl.d-block.mt-4
            | icon-plane
          .col-6.col-sm-4.col-md-3
            i.c-icon-notebook.c-icons.font-2xl.d-block.mt-4
            | icon-notebook
          .col-6.col-sm-4.col-md-3
            i.c-icon-mustache.c-icons.font-2xl.d-block.mt-4
            | icon-mustache
          .col-6.col-sm-4.col-md-3
            i.c-icon-mouse.c-icons.font-2xl.d-block.mt-4
            | icon-mouse
          .col-6.col-sm-4.col-md-3
            i.c-icon-magnet.c-icons.font-2xl.d-block.mt-4
            | icon-magnet
          .col-6.col-sm-4.col-md-3
            i.c-icon-energy.c-icons.font-2xl.d-block.mt-4
            | icon-energy
          .col-6.col-sm-4.col-md-3
            i.c-icon-disc.c-icons.font-2xl.d-block.mt-4
            | icon-disc
          .col-6.col-sm-4.col-md-3
            i.c-icon-cursor.c-icons.font-2xl.d-block.mt-4
            | icon-cursor
          .col-6.col-sm-4.col-md-3
            i.c-icon-cursor-move.c-icons.font-2xl.d-block.mt-4
            | icon-cursor-move
          .col-6.col-sm-4.col-md-3
            i.c-icon-crop.c-icons.font-2xl.d-block.mt-4
            | icon-crop
          .col-6.col-sm-4.col-md-3
            i.c-icon-chemistry.c-icons.font-2xl.d-block.mt-4
            | icon-chemistry
          .col-6.col-sm-4.col-md-3
            i.c-icon-speedometer.c-icons.font-2xl.d-block.mt-4
            | icon-speedometer
          .col-6.col-sm-4.col-md-3
            i.c-icon-shield.c-icons.font-2xl.d-block.mt-4
            | icon-shield
          .col-6.col-sm-4.col-md-3
            i.c-icon-screen-tablet.c-icons.font-2xl.d-block.mt-4
            | icon-screen-tablet
          .col-6.col-sm-4.col-md-3
            i.c-icon-magic-wand.c-icons.font-2xl.d-block.mt-4
            | icon-magic-wand
          .col-6.col-sm-4.col-md-3
            i.c-icon-hourglass.c-icons.font-2xl.d-block.mt-4
            | icon-hourglass
          .col-6.col-sm-4.col-md-3
            i.c-icon-graduation.c-icons.font-2xl.d-block.mt-4
            | icon-graduation
          .col-6.col-sm-4.col-md-3
            i.c-icon-ghost.c-icons.font-2xl.d-block.mt-4
            | icon-ghost
          .col-6.col-sm-4.col-md-3
            i.c-icon-game-controller.c-icons.font-2xl.d-block.mt-4
            | icon-game-controller
          .col-6.col-sm-4.col-md-3
            i.c-icon-fire.c-icons.font-2xl.d-block.mt-4
            | icon-fire
          .col-6.col-sm-4.col-md-3
            i.c-icon-eyeglass.c-icons.font-2xl.d-block.mt-4
            | icon-eyeglass
          .col-6.col-sm-4.col-md-3
            i.c-icon-envelope-open.c-icons.font-2xl.d-block.mt-4
            | icon-envelope-open
          .col-6.col-sm-4.col-md-3
            i.c-icon-envelope-letter.c-icons.font-2xl.d-block.mt-4
            | icon-envelope-letter
          .col-6.col-sm-4.col-md-3
            i.c-icon-bell.c-icons.font-2xl.d-block.mt-4
            | icon-bell
          .col-6.col-sm-4.col-md-3
            i.c-icon-badge.c-icons.font-2xl.d-block.mt-4
            | icon-badge
          .col-6.col-sm-4.col-md-3
            i.c-icon-anchor.c-icons.font-2xl.d-block.mt-4
            | icon-anchor
          .col-6.col-sm-4.col-md-3
            i.c-icon-wallet.c-icons.font-2xl.d-block.mt-4
            | icon-wallet
          .col-6.col-sm-4.col-md-3
            i.c-icon-vector.c-icons.font-2xl.d-block.mt-4
            | icon-vector
          .col-6.col-sm-4.col-md-3
            i.c-icon-speech.c-icons.font-2xl.d-block.mt-4
            | icon-speech
          .col-6.col-sm-4.col-md-3
            i.c-icon-puzzle.c-icons.font-2xl.d-block.mt-4
            | icon-puzzle
          .col-6.col-sm-4.col-md-3
            i.c-icon-printer.c-icons.font-2xl.d-block.mt-4
            | icon-printer
          .col-6.col-sm-4.col-md-3
            i.c-icon-present.c-icons.font-2xl.d-block.mt-4
            | icon-present
          .col-6.col-sm-4.col-md-3
            i.c-icon-playlist.c-icons.font-2xl.d-block.mt-4
            | icon-playlist
          .col-6.col-sm-4.col-md-3
            i.c-icon-pin.c-icons.font-2xl.d-block.mt-4
            | icon-pin
          .col-6.col-sm-4.col-md-3
            i.c-icon-picture.c-icons.font-2xl.d-block.mt-4
            | icon-picture
          .col-6.col-sm-4.col-md-3
            i.c-icon-handbag.c-icons.font-2xl.d-block.mt-4
            | icon-handbag
          .col-6.col-sm-4.col-md-3
            i.c-icon-globe-alt.c-icons.font-2xl.d-block.mt-4
            | icon-globe-alt
          .col-6.col-sm-4.col-md-3
            i.c-icon-globe.c-icons.font-2xl.d-block.mt-4
            | icon-globe
          .col-6.col-sm-4.col-md-3
            i.c-icon-folder-alt.c-icons.font-2xl.d-block.mt-4
            | icon-folder-alt
          .col-6.col-sm-4.col-md-3
            i.c-icon-folder.c-icons.font-2xl.d-block.mt-4
            | icon-folder
          .col-6.col-sm-4.col-md-3
            i.c-icon-film.c-icons.font-2xl.d-block.mt-4
            | icon-film
          .col-6.col-sm-4.col-md-3
            i.c-icon-feed.c-icons.font-2xl.d-block.mt-4
            | icon-feed
          .col-6.col-sm-4.col-md-3
            i.c-icon-drop.c-icons.font-2xl.d-block.mt-4
            | icon-drop
          .col-6.col-sm-4.col-md-3
            i.c-icon-drawer.c-icons.font-2xl.d-block.mt-4
            | icon-drawer
          .col-6.col-sm-4.col-md-3
            i.c-icon-docs.c-icons.font-2xl.d-block.mt-4
            | icon-docs
          .col-6.col-sm-4.col-md-3
            i.c-icon-doc.c-icons.font-2xl.d-block.mt-4
            | icon-doc
          .col-6.col-sm-4.col-md-3
            i.c-icon-diamond.c-icons.font-2xl.d-block.mt-4
            | icon-diamond
          .col-6.col-sm-4.col-md-3
            i.c-icon-cup.c-icons.font-2xl.d-block.mt-4
            | icon-cup
          .col-6.col-sm-4.col-md-3
            i.c-icon-calculator.c-icons.font-2xl.d-block.mt-4
            | icon-calculator
          .col-6.col-sm-4.col-md-3
            i.c-icon-bubbles.c-icons.font-2xl.d-block.mt-4
            | icon-bubbles
          .col-6.col-sm-4.col-md-3
            i.c-icon-briefcase.c-icons.font-2xl.d-block.mt-4
            | icon-briefcase
          .col-6.col-sm-4.col-md-3
            i.c-icon-book-open.c-icons.font-2xl.d-block.mt-4
            | icon-book-open
          .col-6.col-sm-4.col-md-3
            i.c-icon-basket-loaded.c-icons.font-2xl.d-block.mt-4
            | icon-basket-loaded
          .col-6.col-sm-4.col-md-3
            i.c-icon-basket.c-icons.font-2xl.d-block.mt-4
            | icon-basket
          .col-6.col-sm-4.col-md-3
            i.c-icon-bag.c-icons.font-2xl.d-block.mt-4
            | icon-bag
          .col-6.col-sm-4.col-md-3
            i.c-icon-action-undo.c-icons.font-2xl.d-block.mt-4
            | icon-action-undo
          .col-6.col-sm-4.col-md-3
            i.c-icon-action-redo.c-icons.font-2xl.d-block.mt-4
            | icon-action-redo
          .col-6.col-sm-4.col-md-3
            i.c-icon-wrench.c-icons.font-2xl.d-block.mt-4
            | icon-wrench
          .col-6.col-sm-4.col-md-3
            i.c-icon-umbrella.c-icons.font-2xl.d-block.mt-4
            | icon-umbrella
          .col-6.col-sm-4.col-md-3
            i.c-icon-trash.c-icons.font-2xl.d-block.mt-4
            | icon-trash
          .col-6.col-sm-4.col-md-3
            i.c-icon-tag.c-icons.font-2xl.d-block.mt-4
            | icon-tag
          .col-6.col-sm-4.col-md-3
            i.c-icon-support.c-icons.font-2xl.d-block.mt-4
            | icon-support
          .col-6.col-sm-4.col-md-3
            i.c-icon-frame.c-icons.font-2xl.d-block.mt-4
            | icon-frame
          .col-6.col-sm-4.col-md-3
            i.c-icon-size-fullscreen.c-icons.font-2xl.d-block.mt-4
            | icon-size-fullscreen
          .col-6.col-sm-4.col-md-3
            i.c-icon-size-actual.c-icons.font-2xl.d-block.mt-4
            | icon-size-actual
          .col-6.col-sm-4.col-md-3
            i.c-icon-shuffle.c-icons.font-2xl.d-block.mt-4
            | icon-shuffle
          .col-6.col-sm-4.col-md-3
            i.c-icon-share-alt.c-icons.font-2xl.d-block.mt-4
            | icon-share-alt
          .col-6.col-sm-4.col-md-3
            i.c-icon-share.c-icons.font-2xl.d-block.mt-4
            | icon-share
          .col-6.col-sm-4.col-md-3
            i.c-icon-rocket.c-icons.font-2xl.d-block.mt-4
            | icon-rocket
          .col-6.col-sm-4.col-md-3
            i.c-icon-question.c-icons.font-2xl.d-block.mt-4
            | icon-question
          .col-6.col-sm-4.col-md-3
            i.c-icon-pie-chart.c-icons.font-2xl.d-block.mt-4
            | icon-pie-chart
          .col-6.col-sm-4.col-md-3
            i.c-icon-pencil.c-icons.font-2xl.d-block.mt-4
            | icon-pencil
          .col-6.col-sm-4.col-md-3
            i.c-icon-note.c-icons.font-2xl.d-block.mt-4
            | icon-note
          .col-6.col-sm-4.col-md-3
            i.c-icon-loop.c-icons.font-2xl.d-block.mt-4
            | icon-loop
          .col-6.col-sm-4.col-md-3
            i.c-icon-home.c-icons.font-2xl.d-block.mt-4
            | icon-home
          .col-6.col-sm-4.col-md-3
            i.c-icon-grid.c-icons.font-2xl.d-block.mt-4
            | icon-grid
          .col-6.col-sm-4.col-md-3
            i.c-icon-graph.c-icons.font-2xl.d-block.mt-4
            | icon-graph
          .col-6.col-sm-4.col-md-3
            i.c-icon-microphone.c-icons.font-2xl.d-block.mt-4
            | icon-microphone
          .col-6.col-sm-4.col-md-3
            i.c-icon-music-tone-alt.c-icons.font-2xl.d-block.mt-4
            | icon-music-tone-alt
          .col-6.col-sm-4.col-md-3
            i.c-icon-music-tone.c-icons.font-2xl.d-block.mt-4
            | icon-music-tone
          .col-6.col-sm-4.col-md-3
            i.c-icon-earphones-alt.c-icons.font-2xl.d-block.mt-4
            | icon-earphones-alt
          .col-6.col-sm-4.col-md-3
            i.c-icon-earphones.c-icons.font-2xl.d-block.mt-4
            | icon-earphones
          .col-6.col-sm-4.col-md-3
            i.c-icon-equalizer.c-icons.font-2xl.d-block.mt-4
            | icon-equalizer
          .col-6.col-sm-4.col-md-3
            i.c-icon-like.c-icons.font-2xl.d-block.mt-4
            | icon-like
          .col-6.col-sm-4.col-md-3
            i.c-icon-dislike.c-icons.font-2xl.d-block.mt-4
            | icon-dislike
          .col-6.col-sm-4.col-md-3
            i.c-icon-control-start.c-icons.font-2xl.d-block.mt-4
            | icon-control-start
          .col-6.col-sm-4.col-md-3
            i.c-icon-control-rewind.c-icons.font-2xl.d-block.mt-4
            | icon-control-rewind
          .col-6.col-sm-4.col-md-3
            i.c-icon-control-play.c-icons.font-2xl.d-block.mt-4
            | icon-control-play
          .col-6.col-sm-4.col-md-3
            i.c-icon-control-pause.c-icons.font-2xl.d-block.mt-4
            | icon-control-pause
          .col-6.col-sm-4.col-md-3
            i.c-icon-control-forward.c-icons.font-2xl.d-block.mt-4
            | icon-control-forward
          .col-6.col-sm-4.col-md-3
            i.c-icon-control-end.c-icons.font-2xl.d-block.mt-4
            | icon-control-end
          .col-6.col-sm-4.col-md-3
            i.c-icon-volume-1.c-icons.font-2xl.d-block.mt-4
            | icon-volume-1
          .col-6.col-sm-4.col-md-3
            i.c-icon-volume-2.c-icons.font-2xl.d-block.mt-4
            | icon-volume-2
          .col-6.col-sm-4.col-md-3
            i.c-icon-volume-off.c-icons.font-2xl.d-block.mt-4
            | icon-volume-off
          .col-6.col-sm-4.col-md-3
            i.c-icon-calendar.c-icons.font-2xl.d-block.mt-4
            | icon-calendar
          .col-6.col-sm-4.col-md-3
            i.c-icon-bulb.c-icons.font-2xl.d-block.mt-4
            | icon-bulb
          .col-6.col-sm-4.col-md-3
            i.c-icon-chart.c-icons.font-2xl.d-block.mt-4
            | icon-chart
          .col-6.col-sm-4.col-md-3
            i.c-icon-ban.c-icons.font-2xl.d-block.mt-4
            | icon-ban
          .col-6.col-sm-4.col-md-3
            i.c-icon-bubble.c-icons.font-2xl.d-block.mt-4
            | icon-bubble
          .col-6.col-sm-4.col-md-3
            i.c-icon-camrecorder.c-icons.font-2xl.d-block.mt-4
            | icon-camrecorder
          .col-6.col-sm-4.col-md-3
            i.c-icon-camera.c-icons.font-2xl.d-block.mt-4
            | icon-camera
          .col-6.col-sm-4.col-md-3
            i.c-icon-cloud-download.c-icons.font-2xl.d-block.mt-4
            | icon-cloud-download
          .col-6.col-sm-4.col-md-3
            i.c-icon-cloud-upload.c-icons.font-2xl.d-block.mt-4
            | icon-cloud-upload
          .col-6.col-sm-4.col-md-3
            i.c-icon-envelope.c-icons.font-2xl.d-block.mt-4
            | icon-envelope
          .col-6.col-sm-4.col-md-3
            i.c-icon-eye.c-icons.font-2xl.d-block.mt-4
            | icon-eye
          .col-6.col-sm-4.col-md-3
            i.c-icon-flag.c-icons.font-2xl.d-block.mt-4
            | icon-flag
          .col-6.col-sm-4.col-md-3
            i.c-icon-heart.c-icons.font-2xl.d-block.mt-4
            | icon-heart
          .col-6.col-sm-4.col-md-3
            i.c-icon-info.c-icons.font-2xl.d-block.mt-4
            | icon-info
          .col-6.col-sm-4.col-md-3
            i.c-icon-key.c-icons.font-2xl.d-block.mt-4
            | icon-key
          .col-6.col-sm-4.col-md-3
            i.c-icon-link.c-icons.font-2xl.d-block.mt-4
            | icon-link
          .col-6.col-sm-4.col-md-3
            i.c-icon-lock.c-icons.font-2xl.d-block.mt-4
            | icon-lock
          .col-6.col-sm-4.col-md-3
            i.c-icon-lock-open.c-icons.font-2xl.d-block.mt-4
            | icon-lock-open
          .col-6.col-sm-4.col-md-3
            i.c-icon-magnifier.c-icons.font-2xl.d-block.mt-4
            | icon-magnifier
          .col-6.col-sm-4.col-md-3
            i.c-icon-magnifier-add.c-icons.font-2xl.d-block.mt-4
            | icon-magnifier-add
          .col-6.col-sm-4.col-md-3
            i.c-icon-magnifier-remove.c-icons.font-2xl.d-block.mt-4
            | icon-magnifier-remove
          .col-6.col-sm-4.col-md-3
            i.c-icon-paper-clip.c-icons.font-2xl.d-block.mt-4
            | icon-paper-clip
          .col-6.col-sm-4.col-md-3
            i.c-icon-paper-plane.c-icons.font-2xl.d-block.mt-4
            | icon-paper-plane
          .col-6.col-sm-4.col-md-3
            i.c-icon-power.c-icons.font-2xl.d-block.mt-4
            | icon-power
          .col-6.col-sm-4.col-md-3
            i.c-icon-refresh.c-icons.font-2xl.d-block.mt-4
            | icon-refresh
          .col-6.col-sm-4.col-md-3
            i.c-icon-reload.c-icons.font-2xl.d-block.mt-4
            | icon-reload
          .col-6.col-sm-4.col-md-3
            i.c-icon-settings.c-icons.font-2xl.d-block.mt-4
            | icon-settings
          .col-6.col-sm-4.col-md-3
            i.c-icon-star.c-icons.font-2xl.d-block.mt-4
            | icon-star
          .col-6.col-sm-4.col-md-3
            i.c-icon-symbol-female.c-icons.font-2xl.d-block.mt-4
            | icon-symbol-female
          .col-6.col-sm-4.col-md-3
            i.c-icon-symbol-male.c-icons.font-2xl.d-block.mt-4
            | icon-symbol-male
          .col-6.col-sm-4.col-md-3
            i.c-icon-target.c-icons.font-2xl.d-block.mt-4
            | icon-target
          .col-6.col-sm-4.col-md-3
            i.c-icon-credit-card.c-icons.font-2xl.d-block.mt-4
            | icon-credit-card
          .col-6.col-sm-4.col-md-3
            i.c-icon-paypal.c-icons.font-2xl.d-block.mt-4
            | icon-paypal
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-tumblr.c-icons.font-2xl.d-block.mt-4
            | icon-social-tumblr
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-twitter.c-icons.font-2xl.d-block.mt-4
            | icon-social-twitter
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-facebook.c-icons.font-2xl.d-block.mt-4
            | icon-social-facebook
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-instagram.c-icons.font-2xl.d-block.mt-4
            | icon-social-instagram
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-linkedin.c-icons.font-2xl.d-block.mt-4
            | icon-social-linkedin
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-pinterest.c-icons.font-2xl.d-block.mt-4
            | icon-social-pinterest
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-github.c-icons.font-2xl.d-block.mt-4
            | icon-social-github
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-gplus.c-icons.font-2xl.d-block.mt-4
            | icon-social-gplus
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-reddit.c-icons.font-2xl.d-block.mt-4
            | icon-social-reddit
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-skype.c-icons.font-2xl.d-block.mt-4
            | icon-social-skype
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-dribbble.c-icons.font-2xl.d-block.mt-4
            | icon-social-dribbble
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-behance.c-icons.font-2xl.d-block.mt-4
            | icon-social-behance
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-foursqare.c-icons.font-2xl.d-block.mt-4
            | icon-social-foursqare
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-soundcloud.c-icons.font-2xl.d-block.mt-4
            | icon-social-soundcloud
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-spotify.c-icons.font-2xl.d-block.mt-4
            | icon-social-spotify
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-stumbleupon.c-icons.font-2xl.d-block.mt-4
            | icon-social-stumbleupon
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-youtube.c-icons.font-2xl.d-block.mt-4
            | icon-social-youtube
          .col-6.col-sm-4.col-md-3
            i.c-icon-social-dropbox.c-icons.font-2xl.d-block.mt-4
            | icon-social-dropbox
        // /.row
